Click==7.0
Flask==1.1.1
Jinja2==2.10.3
MarkupSafe==1.1.1
certifi==2019.11.28
chardet==3.0.4
idna==2.8
itsdangerous==1.1.0
pip==19.3.1
psutil==5.6.7
requests==2.22.0
setuptools==42.0.2
urllib3==1.25.7
wheel==0.33.6
Werkzeug==0.16.0
